{% extends 'blogs/base.html' %}
{% block title %}Confirm course deletion| {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Confirmr Unregister</h5>
                </div>
                <div class="card-body">
                
                    <p>Are you sure you want to unregister from this "<span style='color:blue;font-weight:bold'>{{ course.title }}</span>" course?</p>
                    <a href="{% url 'blogs:unregister_course' course.id %}" class="btn btn-danger">yes,unregister</a>
                    <a href="{% url 'blogs:my_courses' %}" class="btn btn-secondary">Cancel</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


